1) Workout
y = w1x1 + w2x2 + b
Initializing with

w1=0,w2=0,b=0
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

1 = 0 x 1 + 0 x -1 + 0

w1 = 0 + 1* 1 = 1

w2 = 0 + -1* 1 = -1

b = 0 + 1 = 1

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| 1   | -1 | 1    |  1 | -1  | 1 |
| -1   | 1  | 1    |   |   |  |
| 1   | 1  | 1    |   |   |  |
| -1  | -1  | -1    |   |  |   |

w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

1 = 1 x -1 + -1 x 1 + 1

w1 = 1 + -1* 1 = 0

w2 = -1 + 1* 1 = 0

b = 1 + 1 = 2

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| 1   | -1 | 1    |  1 | -1  | 1 |
| -1   | 1  | 1    | 0  | 0  | 2 |
| 1   | 1  | 1    |   |   |  |
| -1  | -1  | -1    |   |  |   |

Row 3
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

1 = 0 x 1 + 0 x 1 + 2

w1 = 0 + 1* 1 = 1

w2 = 0 + 1* 1 = 1

b = 1 + 2 = 3

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| 1   | -1 | 1    |  1 | -1  | 1 |
| -1   | 1  | 1    | 0  | 0  | 2 |
| 1   | 1  | 1    |  1 |  1 | 3 |
| -1  | -1  | -1    |   |  |   |

Row 4
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

-1 = 1 x -1 + 1 x -1 + 3

w1 = 1 + -1* -1 = 2

w2 = 1 + -1* -1 = 2

b = 3 - 1 = 2

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| 1   | -1 | 1    |  1 | -1  | 1 |
| -1   | 1  | 1    | 0  | 0  | 2 |
| 1   | 1  | 1    |  1 |  1 | 3 |
| -1  | -1  | -1    | 2  | 2 | 2  |

Testing for all conditions
With weight 2, 2 and bias 2

y = w1x1 + w2x2 + b

1 = 21 + 2-1 + 2 = 2 > 0 = 1

1 = 2-1 + 21 + 2 = 2 > 0 = 1

1 = 21 + 2 1 + 2 = 6 > 0 = 1

-1 = 2-1 + 2-1 + 2 = -2 < 0 = -1

So, We got the output (Y).

2) Workout Changing (ROWS)
y = w1x1 + w2x2 + b
Initializing with

w1=1,w2=1,b=1
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

-1 = 1 x -1 + 1 x -1 + 1

w1 = 1 + -1* -1 = 2

w2 = 1 + -1* -1 = 2

b = 1 - 1 = 0

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| -1   | -1 | -1    |  2 | 2  | 0 |
| 1   | 1  | 1    |  |  |  |
| -1   | 1  | 1    |   |   |  |
| 1  | -1  | 1    |   |  |   |

Row 2
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

1 = 2 x 1 + 2 x 1 + 0

w1 = 2 + 1* 1 = 3

w2 = 2 + 1* 1 = 3

b = 0 + 1 = 1

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| -1   | -1 | -1    |  2 | 2  | 0 |
| 1   | 1  | 1    | 3 | 3 | 1 |
| -1   | 1  | 1    |   |   |  |
| 1  | -1  | 1    |   |  |   |

Row 3
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

1 = 3 x -1 + 3 x 1 + 1

w1 = 3 + -1* 1 = 2

w2 = 3 + 1* 1 = 4

b = 1 + 1 = 2

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| -1   | -1 | -1    |  2 | 2  | 0 |
| 1   | 1  | 1    | 3 | 3 | 1 |
| -1   | 1  | 1    | 2  |  4 | 2 |
| 1  | -1  | 1    |   |  |   |

Row 4
w1(new) = w1(old) + x1y

w2(new) = w2(old) + x2y

b(new) = b(old) + y

1 = 2 x 1 + 4 x -1 + 2

w1 = 2 + 1* 1 = 3

w2 = 4 + -1* 1 = 3

b = 2 + 1 = 3

| X1  | X2  | output | W1 | W2 | B |
| --- | --- | ------ | -- | -- | - |
| -1   | -1 | -1    |  2 | 2  | 0 |
| 1   | 1  | 1    | 3 | 3 | 1 |
| -1   | 1  | 1    | 2  |  4 | 2 |
| 1  | -1  | 1    | 3  | 3 | 3  |

Testing for all conditions
With weight 3, 3 and bias 3

y = w1x1 + w2x2 + b

-1 = 3-1 + 3-1 + 3 = -3 < 0 = -1

1 = 31 + 31 + 3 = 9 > 0 = 1

1 = 3-1 + 3 1 + 3 = 3 > 0 = 1

1 = 31 + 3-1 + 3 = 3 > 0 = 1

So, We got the output (Y).